.container {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (max-width:600px){
    flex-direction: column;
  }
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: #2A2828;
  border: 1px solid #6443ba;
  margin-top: 20px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.content:hover{
  -webkit-filter: brightness(.1);
  filter: brightness(.9);
}